* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ffffff;
    color: #ffffff;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
  }
  
  a:hover {
    color: #00c9c8;
  }
  
  textarea:focus,
  input:focus,
  select:focus,
  button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
  }
  
  .container {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
    position: relative;
    height: 100vh;
  }
  
  header,
  main,
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header,
  footer {
    width: 100%;
    height: 100px;
    padding: 30px 0;
    background-color: #ffffff;
    color: black;
  }
  
  header {
    grid-area: header;
  }
  
  main {
    grid-area: main;
    margin-top: 20px;
    margin-bottom: 140px;
  }
  
  footer {
    grid-area: footer;
    position: absolute;
    bottom: 0;
  }
  
  .hide {
    display: none !important;
  }
  
  #quizz-container,
  #score-container {
    color: #000000;
    padding: 25px;
  }
  
  #quizz-container,
  #score-container {
    width: 500px;
    max-width: 90%;
  }
  
  #score-container p {
    margin: 20px 0;
  }
  
  #score-container #display-score {
    font-size: 32px;
    font-weight: bold;
  }
  
  .correct-answer {
    font-weight: bold;
    background-color: green;
    color: #2eb94c;
  }
  .wrong-answer {
    background-color: red; 
  }
  
  #questions-qty {
    font-weight: bold;
    color: #00c9c8;
  }
  
  #restart {
    background-color: #00c9c8;
    color: #fff;
    font-weight: bold;
    height: 50px;
    width: 180px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  #restart:hover {
    background-color: #2a272a;
    color: #ffffff;
  }
  
  #question {
    margin-bottom: 25px;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
  }
  
  #answers-box button {
    display: flex;
    align-items: stretch;
    margin: 15px 0;
    width: 100%;
    border: none;
    text-align: left;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
  }
  
  #answers-box .question-answer{
    background-color: #ff57ff;
  }
  
  #answers-box .btn-letter {
    font-size: 30px;
    font-weight: bold;
    background-color: #ff57ff;
    border: none;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    padding: 5px;
    max-width: 45px;
  }
  
  .question-answer {
    flex: 1 1 0;
    display: flex;
    padding: 10px 0;
    align-items: center;
    margin-left: 10px;
    font-size: 16px;
  }
  
  
  
  @media (max-width: 450px) {
    #quizz-container,
    #score-container {
      border: none;
      width: 100%;
      box-shadow: none;
    }
  }

  #voltar{
    padding:10px;
    /* position: relative; */
    top: 10px;
    left: 10px;
  }