
* {
    margin: 0;
    padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

header {
  display: flex;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#titulo {
    font-family: sans-serif;
    color: #000000;
    margin-left: 7%;
} 


#subtitulo {
    font-family: sans-serif;
    color: #000000;
    margin-left: 6.7%;
} 

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#check-campo {
  display: block;
}
#check-campo div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}
input {
  margin-right: 0.5em;
}



fieldset {
    border: 0;
}


body {
    background: rgb(86,32,190);
    background: linear-gradient(345deg, rgba(86,32,190,1) 0%, rgba(32,192,221,1) 100%);
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
}


input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 5px;
}


.grupo:before, .grupo:after {
    display: table;
}


.grupo:after {
    clear: both;
}


.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    min-width: 40%;
}
#xp_campo {
  width: 100%;
}
#xp_campo textarea {
  width: 90%;
}


.campo label {
    margin-bottom: 0.2em;
    color: #000000;
}


fieldset.grupo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}


.campo input[type="text"], .campo input[type="email"], .campo input[type="tel"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}


.campo select option {
    padding-right: 1em;
}


.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: rgb(67, 233, 205);
}


.botao-concluido {
    font-size: 1.2em;
    background: #000000;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: initial;
    top: 90%;
    left: 50%;
    transform: translate(-0%, -0%)
}


.botao-concluido:hover {
    background: rgb(67, 233, 205);
    color: #000000;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}


.botao-concluido, select{
    cursor: pointer;
}

#dNascimento {
    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

legend {
    padding: 0.2em;
    border: 1px groove #000000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block; 
}

.botao-voltar{
    font-size: 1.2em;
    background: #000000;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin: 1%;
    top: 1%;
    left: 1%;
    transform: translate(-0%, -0%)
    
  }

.botao-voltar:hover {
    background: rgb(67, 233, 205);
    color: #000000;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao-voltar, select{
    cursor: pointer;
}


