@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
body
{
    margin: 0;
    padding: 0;
    font-family: 'Delicious Handrawn', sans-serif;
    background-color: brown ;
    

}

/* Header */
.header-container
{
    height: 700px;
    width: 100%;
    background-color: brown;
    background-attachment: fixed;
    /* background-image: url("../imagens/abimael-foto.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;

}



#abimael-container {
  background-color: red;
  color: #D0DB97;
  background-image: url("../imagens/foto-abimael.png");
}
#abraao-container {
  background-color: yellow;
  color: #153243;
  background-image: url("../imagens/abraao-foto.png");
}
#davi-container {
  background-color: cyan;
  color: #7A7978;
  background-image: url("../imagens/foto-davi.png");
}
#isaac-container {
  background-color: purple;
  color: #D6D1CD; 
  background-image: url("../imagens/isaac-foto.png");
}
#cristian-container {
  background-color: gray;
  color: #24272B;
  background-image: url("../imagens/cristian-foto.png");
}

h1
{
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
h2
{
    text-transform: uppercase;
    letter-spacing: 4px;
}

.scroll-text {
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: transform .5s, opacity .5s, visibility .5s;
}
.header-container:nth-child(2n) .scroll-text {
  right: -300px;
}

.header-container:nth-child(2n - 1) .scroll-text {
  right: 300px;
}
.header-container:nth-child(2n) .scroll-text.active {
  transform: translateX(-300px);
  opacity: 1;
  visibility: visible;
}
.header-container:nth-child(2n - 1) .scroll-text.active {
  transform: translateX(300px);
  opacity: 1;
  visibility: visible;
}

.scroll-media {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}
.scroll-media.active {
  opacity: 1;
  visibility: visible;
}

.social-media
{
    margin-top: 1rem;
    display: flex;
}
.social-media a
{
    text-decoration: none;
    color: #1e1e2a;
    padding: 1rem 4rem;
    border: 1px solid #1e1e2a;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}
a:hover
{
    background-color: white;
}

/* Menu Três Linhas*/
.checkbox-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox
{
    height: 51px;
    width: 51px;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}
.checkbox .trace
{
    width: 50px;
    height: 2px;
    background-color: #1e1e2a;
    position: fixed;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1)
{
    top: 12px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2)
{
    top: 24px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3)
{
    top: 36px;
    transform: rotate(0);
}
#toggle
{
    display: none;
}

/* Menu redondo*/
.menu
{
    position: fixed;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px pink;
    z-index: 1;
    transition: 400ms ease-in-out 0s;
}
.menu-items
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}
.menu-items ul
{
    list-style-type: none;

}
.menu-items ul li a
{
    margin: 10px 0;
    color: #1e1e2a;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}
/* Animação */
#toggle:checked + .checkbox .trace:nth-child(1)
{
    transform: rotate(45deg);
    top: 25px;
}
#toggle:checked + .checkbox .trace:nth-child(2)
{
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3)
{
    transform: rotate(-45deg);
    top: 25px;
}
#toggle:checked + .checkbox
{
    background-color: white;
}
#toggle:checked ~ .menu
{
    box-shadow: 0px 0px 0px 100vmax pink;
    z-index: 1;
} 
#toggle:checked ~ .menu-items
{
    visibility: visible;
    opacity: 1;
}
/* Cards */
.container
{
    background-color: white;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.card 
{
    width: 300px;
    height: 300px;
    border-radius:100% ;
    margin: 3rem 0 0 0 ;
    display: flex;
    align-items: center;
    background-color: brown;
    /* background-image: url("../imagens/homepage.png"); */
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1e1e2a;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.card-container:nth-child(1) .card
{
    background-image: url("../imagens/homepage.png");
}

.card-container:nth-child(2) .card
{
    background-image: url("../imagens/formulario.png");
}


.card-container:nth-child(3) .card
{
    background-image: url("../imagens/quiz.png");
}

.card-container:nth-child(4) .card
{
    background-image: url("../imagens/login.png");
}

.card-container:nth-child(5) .card
{
    background-image: url("../imagens/cadastro.png");
}


.card-text
{
    font-size: 20px;
    width: 40%;
    letter-spacing: 1px;
    color: yellowgreen;
}
.card-wrapper
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before
{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.card-wrapper h2
{
    font-size: 30px;
    color: yellowgreen;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}
.card-wrapper p
{
    color: yellowgreen;
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;

}
.card:hover
{
    filter: unset;
}
/* Borda Visivel (comentar para ver 2º visual  */

.card:hover > .card-wrapper::before
{
    height: 250px;
    width: 250px;
    opacity: 1;
}

/*"venha ver" visivel */
.card:hover > .card-wrapper p
{
    opacity: 1;
    visibility: visible;
    font-size: 20px;
}

/* Tira do comentário para ver 2º visual */

/* .card:hover > .card-wrapper a
{
    opacity: 1;
    visibility: visible;
    font-size: 20px;
} */

/* Tira do comentário para ver 2º visual */

/* .card-wrapper a
{
    color: yellowgreen;
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;

} */



/* LINK E TEXTO */

/* unvisited link */
 .texto {
    color: #1e1e2a ;
  }
  
  /* visited link */
 .texto:visited {
    color: pink;
  }
  
  /* mouse over link */
  .texto:hover {
    background-color: #1e1e2a;
    color: white;
  }
  
  .texto
  {
    text-decoration: none;
    padding: 1rem 4rem;
    border: 1px solid #1e1e2a;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
  }
body
{
    background-color: white;
}
  /* fotter */

  .footer
  {
    background-color: brown;
    display: flex;
    align-items: left;
    justify-content: center;
    color: pink;
    height: auto;
    margin: 0 0 0 0 ;
    background-image: url("../imagens/logo.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
  }
  footer h1
  {
    font-size:large;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

.footer ul li
{
    list-style: none;
}
