body{
    background-color: rgb(36, 169, 221);
    font-size: larger;
    text-align: center;
}
input{
    padding: 20px;
    border-radius: 36px;
}
#voltar{
    padding:10px;
    position: fixed;
    top: 10px;
    left: 10px;
  }
